.about{
	&-about{
		padding-bottom: 50px;
	}
	&__title{
		padding-top: 40px;
	    margin-bottom: 60px;
	    font-size: 56px;
	    line-height: 66px;
	    letter-spacing: 5px;
	    color: #FBB332;
	    text-align: center;
	    strong {
		    font-weight: bold;
		    color: #2EA8E0;
		}
	}
	&-gallery{
		position: relative;
		padding: 50px 0 100px;
		.el__items{
			display: grid;
			grid-gap: 24px;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		.el__item{
			.dnfix__thumb{
				border-radius: 8px;
			}
			&.-s1 {
			    grid-column: 1/5;
			    grid-row: 1/3;
			    .dnfix__thumb{
			    	padding-top: 46%;
			    }
			}
			&.-s2 {
			    grid-column: 5/9;
   	 			grid-row: 1/4;
			    .dnfix__thumb{
			    	padding-top: 73%;
			    }
			}
			&.-s3 {
			    grid-column: 1/3;
    			grid-row: 3/5;
			    .dnfix__thumb{
			    	padding-top: 158%;
			    }
			}
			&.-s4 {
			    grid-column: 3/5;
			    grid-row: 3/4;
			    .dnfix__thumb{
			    	padding-top: 74.8%;
			    }
			}
			&.-s5 {
			    grid-column: 3/5;
    			grid-row: 4/5;
			    .dnfix__thumb{
			    	padding-top: 74.8%;
			    }
			}
			&.-s6 {
			    grid-column: 5/9;
			    margin-top: -69px;
			    .dnfix__thumb{
			    	padding-top: 48%;
			    }
			}
		}

	}

	&-socials{
		padding: 100px 0 40px;
		.el__title{
			display: flex;
			align-items:center;
			justify-content: center;
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-bottom: 40px;
			img{
				margin-right: 5px;
			}
		}
		.el__list{
			text-align: center;
			font-weight: 300;
			font-size: 20px;
			line-height: 28px;
			color: #FFFFFF;
			word-break: break-all;
			a{
				color: #FFFFFF;
				transition: all .5s;
				&:hover{
					color: #467B9D;
				}
			}
			li{
				display: flex;
	    		justify-content: center;
	    		flex-wrap: wrap;
	    		margin-bottom: 24px;
			}
		}

		.el__label{
			position: relative;
			font-weight: bold;
			color: #467B9D;
			padding-right: 50px;
			&:after{
				content: '';
			    width: 1px;
			    height: 15px;
			    background: #467B9D;
			    position: absolute;
			    top: 7px;
			    right: 25px;;
			}
		}
	}
	@media (max-width: 1399px){

	}
	@media (max-width: 1199px){
		&-gallery{
			.el__item.-s6 {
			    margin-top: -60px;
			}
			.el__item.-s4 .dnfix__thumb,.el__item.-s5 .dnfix__thumb {
			    padding-top: 73.8%;
			}
		}
	}
	@media (max-width: 991px){
		&-gallery{
			padding: 20px 0 60px;
			.el__items {
			    grid-gap: 16px;
			}
			.el__item.-s6 {
			    margin-top: -43px;
			}
		}
		&-socials{
			.el__label{
				padding-right: 0;
				margin-bottom: 5px;
				&:after{
				 	display: none;
				}
			}
			.el__value {
			    flex: 0 0 auto;
			    width: 100%;
			}
		}
	}
	@media (max-width: 767px){
		&__title {
			padding-top:20px;
		    font-size: 42px;
		    line-height: 52px;
		    margin-bottom: 32px;
		}
		&-about{

		}
		&-gallery{
			.el__items {
			    grid-gap: 8px;
			}
			.el__item.-s4 .dnfix__thumb, .el__item.-s5 .dnfix__thumb {
			    padding-top: 75.9%;
			}
			.el__item.-s6 {
			    margin-top: -30px;
			}
		}
		&-socials{
			.el__value {
			    font-size: 16px;
			}
		}
	}
	@media (max-width: 575px){

		&__title {
		    font-size: 28px;
		    line-height: 32px;
		    letter-spacing: 2px;
		}

		&-gallery{
			padding: 10px 0 40px;
			.el__item.-s1 {
			    grid-column: 1/9;
			    grid-row: 1/3;
			}
			.el__item.-s2 {
			    grid-column: 1/9;
			    grid-row: 5/6;
			}
			.el__item.-s3 {
			    grid-column: 1/5;
			    grid-row: 3/5;
			}
			.el__item.-s4 {
			    grid-column: 5/9;
			    grid-row: 3/4;
			}
			.el__item.-s5 {
			    grid-column: 5/9;
			    grid-row: 4/5;
			}
			.el__item.-s6 {
			    grid-column: 1/9;
			    margin-top: 0;
			}
		}
		&-socials{
			padding: 60px 0 0px;
			.el__title {
			    font-size: 14px;
			    line-height: 20px;
			    margin-bottom: 24px;
			}
			.el__list {
			    font-size: 14px;
			    line-height: 24px;
			    padding: 0 20px;
			}
		}
	}
}